---
import { Picture } from "astro:assets"
import Layout from "~/layouts/baseLayout.astro"
import heroImage from "@images/hero.png"
import SocialNetworks from "~/components/socialNetworks.astro"
import Reviews from "~/components/reviews.astro"
import GoIcon from "~/icons/go.astro"
import ContactForm from "~/components/contactForm.astro"
import ComoEsLaTerapia from "~/components/comoEsLaTerapia.astro"
import Go from "~/icons/go.astro"
import { servicios } from "~/content/servicios"
---

<Layout>
  <div class="hero">
    <div class="content">
      <div class="text">
        <h1>Centro Núria León</h1>
        <h2 class="max-sm:text-2xl text-neutral-700">Psicología y Terapia</h2>
        <SocialNetworks />
        <p>
          Somos un Centro de Psicología y Psicoterapia en Barcelona. Realizamos
          <strong
            ><a class="a-link" href="/psicologo-barcelona">Terapia Presencial</a
            ></strong
          > y <strong
            ><a class="a-link" href="/psicologo-online">Online</a></strong
          > en Castellano y Catalán. Nuestro enfoque integrador es <strong
            >rápido, moderno y muy efectivo</strong
          >. El equipo está formado por <strong
            >Psicólogos Sanitarios Colegiados</strong
          > y también contamos con un servicio de psico-nutrición y nutrición clínica.
        </p>
        <a
          href="/contacto"
          class="cta flex items-center rounded-md border-2 border-brand-600 bg-brand-400 active:bg-brand-600 hover:bg-brand-500 py-2 text-center text-base font-semibold text-white pl-8 pr-4 no-underline"
        >
          ¡Pide tu Cita! <Go class="pl-8" />
        </a>
      </div>
      <div class="image">
        <Picture
          class="img"
          src={heroImage}
          height={600}
          alt="Núria León, fundadora del Centro"
          loading="eager"
        />
      </div>
    </div>
  </div>

  <div class="lg:max-w-screen-xl mx-auto max-xl:px-3">
    <h2 class="max-sm:mt-8">¿Qué servicios ofrecemos?</h2>
    <p class="lg:mb-4">
      Ofrecemos una amplia variedad de servicios personalizados para cada caso.
      Ayudamos a <strong>Adultos</strong>, <strong>Adolescentes</strong>, <strong
        >Parejas</strong
      > y
      <strong>Familias</strong>.<span class="lg:inline hidden"><br /></span> Si tienes
      alguna pregunta o quieres saber si la terapia que ofrecemos es adecuada para
      tí, ¡no dudes en contactar con nosotros!
    </p>
    <div
      class="flex flex-wrap gap-x-4 gap-y-10 py-10 pb-4 lg:gap-4 justify-center"
    >
      {
        (["presencial", "online", "parejas", "psiconutricion"] as const).map(
          (s) => {
            const servicio = servicios[s]
            const Icono = servicio.icon
            return (
              <a href={servicio.link} class="terapia-card">
                <div class="icon">
                  <Icono />
                </div>
                <div class="title">
                  <h3>{servicio.nombre}</h3>
                  <span class="price">{servicio.precio}</span>
                </div>
                <span class="subtitle">Para {servicio.target}</span>
                <p>{servicio.descripcion}</p>
                <ul>
                  {[
                    ...servicio.problemas.map((p) => <li>{p}</li>),
                    <li>...</li>,
                  ]}
                </ul>
                <button>
                  Leer más <GoIcon />
                </button>
              </a>
            )
          }
        )
      }
    </div>
  </div>
  <div class="lg:max-w-screen-xl mx-auto max-xl:px-3">
    <ComoEsLaTerapia tipo="presencial" />
  </div>
  <div
    class="lg:max-w-screen-xl mx-auto max-xl:px-3 overflow-hidden flex flex-col md:flex-row gap-x-12"
  >
    <div class="basis-1/2">
      <Reviews />
    </div>
    <div class="basis-1/2">
      <h2>Pide tu cita, Contacta con nosotros</h2>
      <ContactForm />
    </div>
  </div>
</Layout>

<style>
  .hero {
    @apply flex items-center justify-center border-b-2 border-neutral-300 bg-neutral-200 px-3 py-4;

    h1 {
      @apply text-nowrap;
    }

    .content {
      @apply flex max-w-screen-xl grow flex-col-reverse items-center justify-center gap-y-4 lg:flex-row;

      .text {
        @apply flex flex-col items-center justify-center gap-0 sm:gap-4;
        > * {
          @apply m-0;
        }

        h1 {
          @apply lg:mt-12;
        }

        p {
          @apply mt-4 lg:mt-8 xl:ml-4;
        }

        .cta {
          @apply mb-4 mt-8 lg:mt-2;
        }
      }

      .image {
        @apply flex shrink-0 justify-center pt-2 lg:p-5 lg:pr-0;

        .img {
          @apply h-[300px] object-contain sm:h-[350px] lg:-mb-[100px] lg:h-[500px];
        }
      }
    }
  }

  .terapia-card {
    @apply flex grow flex-col items-center justify-start gap-2 rounded-lg border-2 border-brand-300 bg-brand-50 transition-all hover:border-brand-400 hover:shadow-lg sm:basis-1/3 lg:basis-0 lg:gap-4;

    .icon {
      @apply -mt-6 flex h-12 w-12 items-center justify-center rounded-full bg-brand-400 text-2xl text-white lg:-mt-7 lg:h-14 lg:w-14;
    }

    .title {
      @apply flex items-center justify-center gap-4 px-2 lg:px-3;
    }

    h3 {
      @apply m-0 text-xl lg:tracking-tighter;
    }

    .price {
      @apply m-0 shrink-0 font-title text-lg font-bold text-neutral-700;
    }

    .subtitle {
      @apply m-0 -mt-2 text-sm italic text-neutral-700 lg:-mt-3;
    }

    p {
      @apply grow p-2 text-sm lg:px-3 lg:py-0 lg:text-base;
    }

    ul {
      @apply max-h-[200px] overflow-hidden px-2 leading-none text-neutral-600 [-webkit-line-clamp:4] lg:px-3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    ul > li {
      @apply inline text-xs italic leading-snug before:content-[',_'] first:before:content-[''] lg:text-sm lg:leading-snug;
    }

    button {
      @apply w-full rounded-b-lg border-t-2 border-brand-300 bg-white px-3 py-2 text-center font-medium text-brand-500;
    }
  }
</style>
