---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "@components/FormattedDate.astro"
import { Image } from "astro:assets"
import PageLayout from "./pageLayout.astro"

type Props = CollectionEntry<"blog">["data"]
const { title, description, date, image } = Astro.props
---

<PageLayout title={title} description={description}>
  <article class="max-w-screen-lg">
    <div class="hero-image">
      {image && <Image width={1020} height={510} src={image} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={date} />
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</PageLayout>
