---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "@components/FormattedDate.astro"
import { Picture } from "astro:assets"
import BaseLayout from "./baseLayout.astro"
import { authors } from "~/content/authors/authors"
import Go from "~/icons/go.astro"

type Props = CollectionEntry<"posts">["data"] & { excerpt: string }
const {
  title,
  subtitle,
  date,
  image,
  author: propAuthor,
  excerpt,
} = Astro.props
const author = authors[propAuthor || "nuria"]
---

<BaseLayout title={title} description={excerpt} image={image.src}>
  <div
    class="bg-neutral-200 w-full flex flex-col items-center border-b-2 border-neutral-300"
  >
    <div class="max-w-screen-lg mx-3 text-center md:mt-12">
      <h1>{title}</h1>
      {subtitle && <h2 class="h3 my-8 -mt-2 text-neutral-700">{subtitle}</h2>}
      <div class="text-sm text-neutral-600">
        <FormattedDate date={date} /> - Escrito por <a
          class="a-link"
          href="/equipo">{author.name}</a
        >
      </div>
      <div class="h-24 md:h-40"></div>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="w-full max-w-screen-lg px-3">
      <Picture
        width={1020}
        src={image}
        alt=""
        class="mx-auto max-w-full md:-mt-20 -mt-12 rounded-lg object-cover h-[200px] sm:h-[355px] lg:h-[510px]"
      />
      <article class="py-8 lg:py-16">
        <slot />
      </article>
      <a href="/equipo" class="contents">
        <div
          class="flex flex-col bg-brand-50 border-2 border-brand-300 rounded-lg px gap-4 px-3 py-4 sm:flex-row items-center hover:border-brand-500 transition-all"
        >
          <Picture
            src={author.image}
            alt={author.name}
            height={200}
            class="rounded-full w-[200px] h-[200px] object-cover shrink-0 mx-auto"
          />
          <div class="flex flex-col sm:h-[200px]">
            <div class="text-neutral-700 text-sm">Escrito por</div>
            <div class="text-brand-500 text-2xl font-medium">{author.name}</div>
            <div class="my-2 grow">{author.description}</div>
            <div class="a-link self-end">Más sobre {author.name} <Go /></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
